@model IEnumerable<Workshop1.Models.Movie>
@{
    ViewData["Title"] = "Movie Index";

   // var myModelFromViewData =(IEnumerable<Workshop1.Models.Movie>)ViewData["MyData"];
}
<h4>All Movie</h4>

@* <p class="alert">Your is LastClick @ViewData["LastClick"]</p> *@

<div class="row">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(m=>m.Title)
                </td>
                <th>
                    @Html.DisplayNameFor(m => m.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Price)
                </th>
                <th> เพิ่มเติม </th>
            </tr>
        </thead>
        <tbody
            <tr>
              @foreach (var item in Model)
                  {
                      <tr>
                             <td>
                   @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @Html.DisplayFor(m => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Price)
                </td>
                <td>
                    <a
                    asp-controller="Moive"
                    asp-action="Index"
                    asp-route-id=@item.Id
                     class="btn btn-primary">แสดงแค่ @(item.Title)
                        
                    </a>
                </td>
                      </tr>
              }
            </tr>
        </tbody>
    </table>
</div>